<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="profile.css">
    <link rel="stylesheet" type="text/css" href="auth.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <title>DIO</title>
</head>
<body>
    <header id="header">
      <div class="container">
        <nav class="navbar">
            <div>
                <a href="#"><span class="active">Главная</span></a>
                <a href="#">О Магазине</a>
                <a href="#">Контакты</a>
            </div>
            <div>
                <a id="myBtnLogin" href="#">Вход</a>
                <a id="myBtnRegister" href="#">Регистрация</a>
            </div>
        </nav>
        <hr>
         
        <div class="header">
            <a href="#" class="logo">DIO</a>
            <div class="search-container">
                <input type="text" placeholder="🔍 Поиск по каталогу магазина">
                <button type="submit">Найти</button>
            </div>
            <div class="basket">
                <img src="basket.png">
                <label>Корзина</label>
            </div>
        </div>
      </div>
    </header>

    <main id="main">
        <div class="container">
            <div class="sidebar">
              <ul>
                <li><a href="#">Редактировать данные</a></li>
                <li><a href="#">Изменить пароль</a></li>
                <li><a href="#">Активные заказы</a></li>
                <li><a href="#">Избранное</a></li>
                <li><a href="#">История покупок</a></li>
                <li><a href="#">Выйти</a></li>
                <li><a href="#">Удалить аккаунт</a></li>
              </ul>
            </div>
            <div class="main">
              <form>
                <label for="old_password">Старый пароль:</label>
                <input type="password" id="old_password" name="old_password" required>
                <label for="new_password">Новый пароль:</label>
                <input type="password" id="new_password" name="new_password" required>
                <label for="confirm_password">Подтвердите новый пароль:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
                <button type="submit">Сменить пароль</button>
              </form>
            </div>
          </div>
    </main>

    <div class="mobile-version">
        <a href="#"><img alt="" src="arrow-back.png" class="close"></a> 
      <div class="auth-form">
          <h1 class="logo">DIO</h1>
          <div class="title">Сменить пароль</div><br>
          <form>
                <input type="password" id="old_password" name="old_password" placeholder="Старый пароль" required>
                <input type="password" id="new_password" name="new_password" placeholder="Новый пароль" required>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Подтвердите пароль" required>
                <button type="submit">Сменить пароль</button>
          </form>
      </div> 
      </div>

    <div class="MobileShowNavigation" id="MobileShowNavigation">
        <div class="menu">
        <img src="home.png">
        <img src="category.png">
        <img src="basketicon.png">
        <a href="auth.html"><img src="profile.png"></a>
        </div>
    </div>

</body>
</html>