<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="product.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <title>DIO</title>
</head>
<body>
    <header>
      <div class="container">
        <nav class="navbar">
            <div>
                <a href="#"><span class="active">Главная</span></a>
                <a href="#">О Магазине</a>
                <a href="#">Контакты</a>
            </div>
            <div>
                <a href="#">Вход</a>
                <a href="#">Регистрация</a>
            </div>
        </nav>
        <hr>
         
        <div class="header">
            <a href="#" class="logo">DIO</a>
            <div class="search-container">
                <input type="text" placeholder="🔍 Поиск по каталогу магазина">
                <button type="submit">Найти</button>
            </div>
            <div class="basket">
                <img src="basket.png">
                <label>Корзина</label>
            </div>
        </div>
      </div>
    </header>

    <main>
        
        <div class="product_container">
            <div class="gallery">
                <img src="notebooks.jpg">
            </div>
            
            <div class="product_info">
                <div class="title">Ноутбук Xiaomi Mi Notebook Air 12.5 "2019" (m3-8100Y, 4Gb, 256Gb SSD, серебристый)</div>
                <div class="price">7290$</div>

                <div class="product_mod">
                    <label>Модификации</label>
                    <ul>
                        <li><a href="#" class="modification">8/128GB White</a></li>
                        <li><a href="#" class="modification">8/128GB Gray</a></li>
                    </ul>
                </div>

                <div class="product-buttons">
                    <button class="btn-buy">Купить сейчас</button>
                    <button class="btn-add">Добавить в корзину</button>
                    <img src="unlike.png" style="cursor: pointer;" width="32px" height="32px">
                </div>
            </div>
        </div>

        <div class="parametr_info">
            <label>Характеристики</label>

        </div>

        <div class="similar_products">
            <div class="title-text">Похожие товары</div>
            
            <div class="products">
                <div class="product">
                    <a href="#" class="picture"><img src="samsung.png"></a>
                    <a href="#" class="title"><span>Samsung Galaxy S22</span></a>
                    <a href="#" class="price"><span>1072$</span></a>
                </div>
                <div class="product">
                    <a href="#" class="picture"><img src="samsung.png"></a>
                    <a href="#" class="title"><span>Samsung Galaxy S22</span></a>
                    <a href="#" class="price"><span>1072$</span></a>
                </div>
                <div class="product">
                    <a href="#" class="picture"><img src="samsung.png"></a>
                    <a href="#" class="title"><span>Samsung Galaxy S22</span></a>
                    <a href="#" class="price"><span>1072$</span></a>
                </div>
                <div class="product">
                    <a href="#" class="picture"><img src="samsung.png"></a>
                    <a href="#" class="title"><span>Samsung Galaxy S22</span></a>
                    <a href="#" class="price"><span>1072$</span></a>
                </div>
                <div class="product">
                    <a href="#" class="picture"><img src="samsung.png"></a>
                    <a href="#" class="title"><span>Samsung Galaxy S22</span></a>
                    <a href="#" class="price"><span>1072$</span></a>
                </div>
                <div class="product">
                    <a href="#" class="picture"><img src="samsung.png"></a>
                    <a href="#" class="title"><span>Samsung Galaxy S22</span></a>
                    <a href="#" class="price"><span>1072$</span></a>
                </div>
                <div class="product">
                    <a href="#" class="picture"><img src="samsung.png"></a>
                    <a href="#" class="title"><span>Samsung Galaxy S22</span></a>
                    <a href="#" class="price"><span>1072$</span></a>
                </div>
            </div>
        </div> 

    </main>

    <footer>
        <div class="footer">
            <div class="subfooters">
                <div class="title">Категории</div><br>
                <ul class="footer-categories-list">
                    <li><a href="#">Аксессуары</a></li>
                    <li><a href="#">Смартфоны</a></li>
                    <li><a href="#">Планшеты</a></li>
                    <li><a href="#">Наушники и колонки</a></li>
                    <li><a href="#">Часы</a></li>
                    <li><a href="#">Гаджеты</a></li>
                    <li><a href="#">Электросамокаты</a></li>
                    <li><a href="#">Ноутбуки</a></li>
                </ul>
            </div>
    
            <div class="subfooters">
                <div class="title">Информация</div><br>
                <ul class="footer-categories-list">
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">О магазине</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul> 
            </div>
    
            <div class="subfooters">
                <div class="title">Контакты</div><br>
                <ul class="footer-categories-list">
                    <li>EMAIL: dio@gmail.com</li>
                    <li>+7 (7777) 777-77-77</li>
                </ul>  
            </div>
            </div>
        <hr>
        <div class="icons">
            <a href="#"><img class="icon" src="instagram.png"></a>
            <a href="#"><img class="icon" src="telegram.png"></a>
            <a href="#"><img class="icon" src="twitter.png"></a>
            <a href="#"><img class="icon" src="vk.png"></a>
        </div>
    </footer>

    

    <div class="MobileShowNavigation">
        <div class="button-buy-mobile">
            <button>В корзину</button>
            <button>Купить</button>
            <img src="green_like.png" style="cursor: pointer;" width="32px" height="32px">
        </div>
        <div class="menu">
        <img src="home.png">
        <img src="category.png">
        <img src="basketicon.png">
        <a href="auth.html"><img src="profile.png"></a>
    </div>
    </div>
</body>
</html>