<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="auth.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <title>Auth</title>
</head>
<body>
    <a href="#"><img alt="" src="arrow-back.png" class="close"></a>
    <div class="auth-form">
        <h1 class="logo">DIO</h1>
        <div class="title">Регистрация</div><br>
        <form>
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Введите пароль">
            <input type="password" placeholder="Подтвердите пароль">
            <button>Регистрация</button>
        </form>
        <label>Продолжить через</label>
        <div class="oauth">
            <img src="google.png">
            <img src="vk.png">
            <img src="facebook.png">
        </div>
        <div class="toLogin">
            <span>У вас уже есть аккаунт?&nbsp;</span>
            <a href="#">Войти</a>
        </div>
    </div>   
</body>
</html>