<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/project/webroot/css/style.css">
    <link rel="stylesheet" type="text/css" href="/project/webroot/css/categories_phone.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <title>Категории</title>
</head>
<body>
    {% include 'layouts/header.twig' %}

    <main>
    <div class="breadcrumbs">
			    <div class="pathPages">
    <div class="breadcrumbs_arrow" onclick="goBack()">
        <img src="/project/webroot/img/down-arrow.png">
    </div>
    <div class="path">
        <a href="/">Главная / </a> 
        <span>Категории</span>
    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>
</div>
        <h3 class="categories_title">Категории</h3>
        <div class="categories-phone">
            <div class="categories-item" id="acc_title" onclick="showListCategory('acc', 'acc_arrow', 'acc_title')">Аксессуары<img id="acc_arrow" alt="" src="black_arrow.png" class="arrow"></div>
            <ul id="acc">
                <li><a href="/search/subcategory/?subcategory=1">Для смартфонов</a></li>
                <li><a href="/search/subcategory/?subcategory=2">Для фото и видео</a></li>
                <li><a href="/search/subcategory/?subcategory=3">Для ноутбуков</a></li>
                <li><a href="/search/subcategory/?subcategory=4">Для наушников</a></li>
            </ul>
            <div class="categories-item" id="p_phones" onclick="showListCategory('phones', 'p_arrow', 'p_phones')">Смартфоны<img id="p_arrow" alt="" src="black_arrow.png" class="arrow"></div>
            <ul id="phones">
                <li><a href="/search/subcategory/?subcategory=5">Apple</a></li>
                <li><a href="/search/subcategory/?subcategory=6">Samsung</a></li>
                <li><a href="/search/subcategory/?subcategory=7">Xiaomi</a></li>
                <li><a href="/search/subcategory/?subcategory=8">Poco</a></li>
                <li><a href="/search/subcategory/?subcategory=9">Vivo</a></li>
                <li><a href="/search/subcategory/?subcategory=10">Realme</a></li>
                <li><a href="/search/subcategory/?subcategory=11">Huawei</a></li>
                <li><a href="/search/subcategory/?subcategory=12">Asus</a></li>
                <li><a href="/search/subcategory/?subcategory=13">Honor</a></li>
            </ul>
            <div class="categories-item" onclick="showListCategory('planshet', 'pl_arrow', 'pl_title')" id="pl_title">Планшеты<img id="pl_arrow" alt="" src="black_arrow.png" class="arrow"></div>
            <ul id="planshet">
                <li><a href="/search/subcategory/?subcategory=14">Apple</a></li>
                <li><a href="/search/subcategory/?subcategory=15">Samsung</a></li>
                <li><a href="/search/subcategory/?subcategory=16">Xiaomi</a></li>
                <li><a href="/search/subcategory/?subcategory=17">Lenovo</a></li>
                <li><a href="/search/subcategory/?subcategory=18">Hp</a></li>
                <li><a href="/search/subcategory/?subcategory=19">Realme</a></li>
                <li><a href="/search/subcategory/?subcategory=20">Huawei</a></li>
                <li><a href="/search/subcategory/?subcategory=21">Honor</a></li>
            </ul>
            <div class="categories-item" onclick="showListCategory('headphones', 'h_arrow', 'h_title')" id="h_title">Наушники и колонки<img id="h_arrow" alt="" src="black_arrow.png" class="arrow"></div>
            <ul id="headphones">
                <li><a href="/search/subcategory/?subcategory=22">Безпроводные наушники</a></li>
                <li><a href="/search/subcategory/?subcategory=23">Колонки</a></li>
                <li><a href="/search/subcategory/?subcategory=24">Проводные наушники</a></li>
            </ul>
            <div class="categories-item" onclick="showListCategory('clocks', 'cl_arrow', 'cl_title')" id="cl_title">Часы<img id="cl_arrow" alt="" src="black_arrow.png" class="arrow"></div>
            <ul id="clocks">
                <li><a href="/search/subcategory/?subcategory=25">Garmin</a></li>
                <li><a href="/search/subcategory/?subcategory=26">Honor</a></li>
                <li><a href="/search/subcategory/?subcategory=27">Xiaomi</a></li>
                <li><a href="/search/subcategory/?subcategory=28">Apple</a></li>
            </ul>
            <div class="categories-item" onclick="showListCategory('gadjets', 'gad_arrow', 'gad_title')" id="gad_title">Гаджеты<img id="gad_arrow" alt="" src="black_arrow.png" class="arrow"></div>
            <ul id="gadjets">
                <li><a href="/search/subcategory/?subcategory=29">Яндекс Станции</a></li>
                <li><a href="/search/subcategory/?subcategory=30">Игровые приставки</a></li>
                <li><a href="/search/subcategory/?subcategory=31">PowerPank</a></li>
            </ul>
            <div class="categories-item" onclick="showListCategory('electroscooters', 'elec_arrow', 'elec_title')" id="elec_title">Электросамокаты<img id="elec_arrow" alt="" src="black_arrow.png" class="arrow"></div>
            <ul id="electroscooters">
                <li><a href="/search/subcategory/?subcategory=32">Электросамокаты</a></li>
            </ul>
            <div class="categories-item" onclick="showListCategory('notebooks', 'note_arrow', 'note_title')" id="note_title">Ноутбуки<img id="note_arrow" alt="" src="black_arrow.png" class="arrow"></div>
                <ul id="notebooks">
                    <li><a href="/search/subcategory/?subcategory=33">Apple</a></li>
                    <li><a href="/search/subcategory/?subcategory=34">Hp</a></li>
                    <li><a href="/search/subcategory/?subcategory=35">Asus</a></li>
                    <li><a href="/search/subcategory/?subcategory=36">Lenovo</a></li>
                    <li><a href="/search/subcategory/?subcategory=37">Xiaomi</a></li>
                </ul>
        </div>
    </main>

    <script>
        function showListCategory(id, id_arrow, id_title) {
            const x = document.getElementById(id);
                    const arrow = document.getElementById(id_arrow);
                    const title = document.getElementById(id_title);
                    if (x.style.display === "block") {
                        x.style.display = "none";
                        title.style.color = "black";
                        arrow.style = "transform: rotate(0deg); transition: 0.5s;";
                    } else {
                        x.style.display = "block";
                        title.style.color = "#00B561";
                        arrow.style = "transform: rotate(180deg); transition: 0.5s;";
                    }
        }
    </script>   

    {% include 'layouts/footer.twig' %}
    {% include 'layouts/mobile_navigation.twig' %}
</body>
</html>