    <a href="/categories">
        <h2 class="catalog-title">Категории</h2>
    </a>
    <div id="category" class="block-left">
        <div class="catalog-container">
            <div class="category">
                <div>
                    <ul class="categories-list">
                        <a href="/search/category/?category=1" onmouseover="MouseOverCategory('acc')" onmouseout="MouseOutCategory('acc')">
                            <li><img src="/project/webroot/img/acc.png"><span>Аксессуары</span></li>
                        </a>
                        <a href="/search/category/?category=2" onmouseover="MouseOverCategory('phones')" onmouseout="MouseOutCategory('phones')">
                            <li><img src="/project/webroot/img/smartphone.png"><span>Смартфоны</span></li>
                        </a>
                        <a href="/search/category/?category=3" onmouseover="MouseOverCategory('tablets')" onmouseout="MouseOutCategory('tablets')">
                            <li><img src="/project/webroot/img/pl.png"><span>Планшеты</span></li>
                        </a>
                        <a href="/search/category/?category=4" onmouseover="MouseOverCategory('headphones')" onmouseout="MouseOutCategory('headphones')">
                            <li><img src="/project/webroot/img/headphone.png"><span>Наушники и колонки</span></li>
                        </a>
                        <a href="/search/category/?category=5" onmouseover="MouseOverCategory('clocks')" onmouseout="MouseOutCategory('clocks')">
                            <li><img src="/project/webroot/img/clock.png"><span>Часы</span></li>
                        </a>
                        <a href="/search/category/?category=6" onmouseover="MouseOverCategory('gadjets')" onmouseout="MouseOutCategory('gadjets')">
                            <li><img src="/project/webroot/img/gadjet.png"><span>Гаджеты</span></li>
                        </a>
                        <a href="/search/category/?category=7" onmouseover="MouseOverCategory('samokats')" onmouseout="MouseOutCategory('samokats')">
                            <li href="#"><img src="/project/webroot/img/samokat.png"><span>Электросамокаты</span></li>
                        </a>
                        <a href="/search/category/?category=8" onmouseover="MouseOverCategory('notebooks')" onmouseout="MouseOutCategory('notebooks')">
                            <li><img src="/project/webroot/img/notebook.png"><span>Ноутбуки</span></li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="subcategories">
            <div id="acc" onmouseover="MouseOverCategory('acc')" onmouseout="MouseOutCategory('acc')" class="subcategory">
                <ul>
                    <a href="/search/subcategory/?subcategory=1">
                        <li>Для смартфонов</li>
                    </a>
                    <hr>
                    <a href="/search/subcategory/?subcategory=2">
                        <li>Для фото и видео</li>
                    </a>
                    <hr>
                    <a href="/search/subcategory/?subcategory=3">
                        <li>Для ноутбуков</li>
                    </a>
                    <hr>
                    <a href="/search/subcategory/?subcategory=4">
                        <li>Для наушников</li>
                    </a>
                    <hr>
                </ul>
            </div>
            <div id="phones" onmouseover="MouseOverCategory('phones')" onmouseout="MouseOutCategory('phones')" class="subcategory">
                <ul>
                    <a href="/search/subcategory/?subcategory=5">
                        <li>Apple</li>
                    </a>
                    <hr>
                    <a href="/search/subcategory/?subcategory=6">
                        <li>Samsung</li>
                    </a>
                    <hr>
                    <a href="/search/subcategory/?subcategory=7">
                        <li>Xiaomi</li>
                    </a>
                    <hr>
                    <a href="/search/subcategory/?subcategory=8">
                        <li>Poco
                    </a></li>
                    <hr>
                    <a href="/search/subcategory/?subcategory=9">
                        <li>Vivo
                    </a></li>
                    <hr>
                    <a href="/search/subcategory/?subcategory=10">
                        <li>Realme
                    </a></li>
                    <hr>
                    <a href="/search/subcategory/?subcategory=11">
                        <li>Huawei
                    </a></li>
                    <hr>
                    <a href="/search/subcategory/?subcategory=12">
                        <li>Asus
                    </a></li>
                    <hr>
                    <a href="/search/subcategory/?subcategory=13">
                        <li>Honor
                    </a></li>
                    <hr>
                </ul>
            </div>
            <div id="tablets" onmouseover="MouseOverCategory('tablets')" onmouseout="MouseOutCategory('tablets')" class="subcategory">
                <ul>
                    <a href="/search/subcategory/?subcategory=14">
                        <li>Apple</li>
                    </a>
                    <hr>
                    <a href="/search/subcategory/?subcategory=15">
                        <li>Samsung</li>
                    </a>
                    <hr>
                    <a href="/search/subcategory/?subcategory=16">
                        <li>Xiaomi</li>
                    </a>
                    <hr>
                    <a href="/search/subcategory/?subcategory=17">
                        <li>Lenovo</li>
                    </a>
                    <hr>
                    <a href="/search/subcategory/?subcategory=18">
                        <li>Hp</li>
                    </a>
                    <hr>
                    <a href="/search/subcategory/?subcategory=19">
                        <li>Realme</li>
                    </a>
                    <hr>
                    <a href="/search/subcategory/?subcategory=20">
                        <li>Huawei</li>
                    </a>
                    <hr>
                    <a href="/search/subcategory/?subcategory=21">
                        <li>Honor</li>
                    </a>
                    <hr>
                </ul>
            </div>
            <div id="headphones" onmouseover="MouseOverCategory('headphones')" onmouseout="MouseOutCategory('headphones')" class="subcategory">
                <ul>
                    <a href="/search/subcategory/?subcategory=22">
                        <li>Безпроводные наушники</li>
                    </a>
                    <hr>
                    <a href="/search/subcategory/?subcategory=23">
                        <li>Колонки</li>
                    </a>
                    <hr>
                    <a href="/search/subcategory/?subcategory=24">
                        <li>Проводные наушники</li>
                    </a>
                    <hr>
                </ul>
            </div>
            <div id="clocks" onmouseover="MouseOverCategory('clocks')" onmouseout="MouseOutCategory('clocks')" class="subcategory">
                <ul>
                    <a href="/search/subcategory/?subcategory=25">
                        <li>Garmin</li>
                    </a>
                    <hr>
                    <a href="/search/subcategory/?subcategory=26">
                        <li>Honor</li>
                    </a>
                    <hr>
                    <a href="/search/subcategory/?subcategory=27">
                        <li>Xiaomi</li>
                    </a>
                    <hr>
                    <a href="/search/subcategory/?subcategory=28">
                        <li>Apple</li>
                    </a>
                    <hr>
                </ul>
            </div>
            <div id="gadjets" onmouseover="MouseOverCategory('gadjets')" onmouseout="MouseOutCategory('gadjets')" class="subcategory">
                <ul>
                    <a href="/search/subcategory/?subcategory=29">
                        <li>Яндекс Станции</li>
                    </a>
                    <hr>
                    <a href="/search/subcategory/?subcategory=30">
                        <li>Игровые приставки</li>
                    </a>
                    <hr>
                    <a href="/search/subcategory/?subcategory=31">
                        <li>PowerPank</li>
                    </a>
                    <hr>
                </ul>
            </div>
            <div id="samokats" onmouseover="MouseOverCategory('samokats')" onmouseout="MouseOutCategory('samokats')" class="subcategory">
                <ul>
                    <a href="/search/subcategory/?subcategory=32">
                        <li>Электросамокаты</li>
                    </a>
                    <hr>
                </ul>
            </div>
            <div id="notebooks" onmouseover="MouseOverCategory('notebooks')" onmouseout="MouseOutCategory('notebooks')" class="subcategory">
                <ul>
                    <a href="/search/subcategory/?subcategory=33">
                        <li>Apple</li>
                    </a>
                    <hr>
                    <a href="/search/subcategory/?subcategory=34">
                        <li>Hp</li>
                    </a>
                    <hr>
                    <a href="/search/subcategory/?subcategory=35">
                        <li>Asus</li>
                    </a>
                    <hr>
                    <a href="/search/subcategory/?subcategory=36">
                        <li>Lenovo</li>
                    </a>
                    <hr>
                    <a href="/search/subcategory/?subcategory=37">
                        <li>Xiaomi</li>
                    </a>
                    <hr>
                </ul>
            </div>
        </div>

        <script>
            function MouseOverCategory(id) {
                const subcategory = document.getElementById(id);
                subcategory.style.display = "block";
            }

            function MouseOutCategory(id) {
                const subcategory = document.getElementById(id);
                subcategory.style.display = "none";
            }
        </script>