<header>
      <div class="container">
        <nav class="navbar">
            <div>
                <a href="#"><span>Главная</span></a>
                <a href="#">О Магазине</a>
                <a href="#">Контакты</a>
            </div>
            <div>
                <a id="myBtnLogin" href="#">Вход</a>
                <a id="myBtnRegister" href="#">Регистрация</a>
            </div>
        </nav>
        <hr>
         
        <div class="header">
            <a href="#" class="logo">DIO</a>
            <div class="search-container">
                <input type="text" placeholder="🔍 Поиск по каталогу магазина">
                <button type="submit">Найти</button>
            </div>
            <div class="basket">
                <img src="/project/webroot/img/basket.png">
                <label>Корзина</label>
            </div>
        </div>
      </div>
</header>