<header>
    <div class="container">
        <nav class="navbar">
            <div>
                <a href="/"><span class="active">Главная</span></a>
                <a href="/about-us">О Магазине</a>
                <a href="/contacts">Контакты</a>
            </div>
            <div>
                {% if auth %}
                <a href="/profile" style="display: flex; align-items: center; text-decoration: none;">
                    <img alt="user" src="/project/webroot/img/user.png" width="16px" height="16px" style="margin-right: 8px;">
                    <span>Мой профиль</span>
                </a>
                {% else %}
                <a href="/login" id="myBtnLogin">Вход</a>
                <a href="/register" id="myBtnRegister">Регистрация</a>
                {% endif %}
            </div>
        </nav>
        <hr>

        <div class="header">
            <a href="/" class="logo">DIO</a>
            <div class="search-container">
                <form action="/search/?" method="GET" style="display: flex; width: 100%;">
                    <input type="text" name="q" placeholder="🔍 Поиск по каталогу магазина" value="{{ search }}">
                    <button type="submit">Найти</button>
                </form>
            </div>
            <a href="/cart" class="basket">
                <div>
                    <span id="countCart" class="countCart">{{ cart_qty }}</span>
                    <img src="/project/webroot/img/basket.png">
                </div>
                <label style="cursor: pointer;">Корзина</label>
            </a>
        </div>
    </div>
</header>