<div class="sidebar">
    <ul>
        <li><a href="/edit/profile">Редактировать данные</a></li>
        <li><a href="/change/password">Изменить пароль</a></li>
        <li><a href="/profile/active/orders">Активные заказы</a></li>
        <li><a href="/profile/favorites">Избранное</a></li>
        <li><a href="/profile/history/orders">История покупок</a></li>
        <li>
            <form action="/logout" method="POST">
                <button type="submit" name="logout">Выйти</button>
            </form>
        </li>
        <li>
            <form action="/delete/profile" method="POST">
                <button type="submit" name="delete_user_account">Удалить аккаунт</button>
            </form>
        </li>
    </ul>
</div>