<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/project/webroot/css/auth.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <title>Register Verification</title>
</head>
<body>
    <a href="/"><img alt="" src="/project/webroot/img/arrow-back.png" class="close"></a> 
    <div class="auth-form">
        <h1 class="logo">DIO</h1>
        <div class="title">Подтверждение почты</div><br>
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <div style="color: #DC3545; font-family: Roboto Mono;">{{ error }}</div>
            <input type="number" name="code" placeholder="Введите код" required>
            <button type="submit" name="send-code">Подтвердить</button>
        </form>
    </div>     
</body>
</html>